<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_2_sistema_de_ventas.Properties.Settings.SistemaVentasConnectionString"
            connectionString="Data Source=DESKTOP-FIMFG3S;Initial Catalog=SistemaVentas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>